:root{
  --primary-color:#FF6435;
  --secondary-color: #170C2A;
}
.headed{
  margin: auto 160px;
}
/* navbar */
.navigation {
  height: 60px;
  /* width: 100%; */
  display: flex;
  gap: 60px;
  align-items: center;
  position: relative;
  padding: 1rem 160px;
  background-color: var(--secondary-color);
  color: white;
}

.brand-name {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  margin-left: 1rem;
 
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  
}
.button{
  position: absolute;
  top: 0;
  right: 160px;
  display: flex;
  justify-content: center;
margin-top: 4px;
}
.navigation-menu li {
  /* // removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  /* // increases the surface area of the anchor tag to span more than just the anchor text */
  text-decoration: none;
  display: block;
  font-size: 16px;
  color: white;

}
select{
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
}
.hamburger  {
  /* // removes default border on button element */
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
/* // positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: var(--primary-color);
}
/* hero section */
.container{
  display: flex;
  width: 100%;
  gap: 96px;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
}
.tag{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.top,.about-head{
  color: var(--primary-color);
  font-weight: bold;
  text-transform:uppercase ;
}
.tagline{
  color: black;
  font-size: 48px;
  font-weight: bold;
  width: 524px;
  line-height: normal;
}
.svg{
  position: absolute;
}

.primary-btn{
  background-color: var(--primary-color);
  padding: 16px 24px;
  color: white;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 7px;
  align-items: center;
margin-top: 16px;
cursor: pointer;
justify-content: center;
}
.primary-btn:hover{
  background-color: rgb(255, 101, 20,.9);
}
/* about */
.about{
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.compare{
  font-size: 48px;
  font-weight: bold;
}
.about-desc{
  font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
width: 736px;
margin: auto;
color: #666;
}
.feature{
  display: flex;
  width: max-content;
  padding: 8px 24px;
  align-items: center;
  margin:16px  auto;
  gap: 16px;  
  border-radius: 16px;
  box-shadow: 0px 30px 99px -22px rgba(0, 0, 0, 0.10), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  background: #fff;
  font-weight: bold;
}
.fea{
  display: flex;
width: 429px;
padding-right: 0px;
align-items: flex-start;
gap: 10px;
}
.qoruz,.grin{
  display: flex;
width: 132px;
padding: 6px 4px;
/* flex-direction: column; */
justify-content: start;
align-items: center;
gap: 4px;
align-self: stretch;
}
.detail{
  box-shadow: none;
  background-color: rgba(255, 181, 160, 0.10);
  border-radius: 0;
  border: none;
}
.detail:nth-child(even){
  background-color: white;
}
/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  border-radius: 4px;
  background: #32253B;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  border-radius: 6px;
  padding: 6px 16px;
  position: absolute;
  z-index: 1;
  top: 200%;
  left: -20%;
  /* margin-left: -60px; */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.item1{
  color: #666;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  
}
.qoruz{
  display: flex;
}
/* reason */
.reason{
  margin: 96px auto;
}
.tabs{
display: flex;
justify-content: space-between;
margin-top: 48px;
}
.tabspan{
  display: flex;
  gap: 48px;

}
.btns{
  padding: 4px 0;
  background-color: white;
  border: none;
  cursor: pointer;
}
.btns:first-child{
  border-radius: 3px;
  border-bottom: 3px solid  var(--primary-color);
}
.btns:focus{
  border-radius: 1px;
  border-bottom: 3px solid  var(--primary-color);
}
.tab-heading{
  font-size: 32px;
  font-weight: bold;
}
.tab-desc{
  width: 470px;
}
.power{
  margin: 96px auto;
  display: flex;
  justify-content: space-between;
}
/* contact */
.contact{
  margin: 44px auto 144px;
  display: flex;
  justify-content: center;
}
.card
{
  width: 1024px;
  height: 320px;
  border-radius: 32px;
  background-image: url(./assets/contact.svg) ;
  background-size: cover;
  backdrop-filter: blur(7.5px);
  overflow: visible;
}
.data{
  display: flex;
  justify-content: space-between;
  margin: auto 45px auto;
  align-items: center;
}
.data p{
  font-size: 52px;
  font-weight: bold;
  color: white;
  width: 437px;

}
.data button{
  background: rgba(74, 15, 15, 0.50);
  box-shadow: 0px 1.62442147731781px 4.873264312744141px 0px rgba(0, 0, 0, 0.20), 0px 32.48843002319336px 38.986114501953125px -11.370949745178223px rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(8.12210750579834px);
  font-size: 32px;
}
/* faqs  */
.left{
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.faq-section{
  width: 80%;
  text-align: left;
}
.faq-title{
  padding: 16px 16px 16px 0px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  line-height: 150%;
  border-bottom: 2px solid rgba(153, 153, 153, 0.20);
}

.content{
  font-weight: 400;
}

/* footer */
.footer{
  padding: 48px auto;
  justify-content: center;
  display: flex;
  gap: 131px;
  background-color: var(--secondary-color);
}
.foot1{
  display: block;
  gap: 28px;
  width: 285px;
  color: #FFF4EE;
  font-weight: 500;
}
.flex-foot-icons{
  display: flex;
  gap: 14px;
}
.foot1,.foot2,.foot3,.foot4{
  margin: 48px 0;
}
.footer-menu ul,.footer-menu2 ul,.footer-menu3 ul{
  text-align: left;
  text-decoration: none;
  list-style: none;
  padding-left: 0;

}

.footer-menu .list,.footer-menu2 .list,.footer-menu3 .list{
  text-decoration-style: none;
  text-decoration: none;
  list-style: none;
  padding: 4px 0px; 

}
.link{
  text-decoration-style: none;
  text-decoration: none;
  color: white;
  text-align: left;
}
.footer-btn{
  background-color: white;
  color:var(--primary-color);
}
.foot-image{
  display: none;
}
.foot2 p, .foot3 p, .foot4 p{
  display: flex;
  gap: 6px;
  align-items: center;
}

@media screen and (max-width:600px) {
  .App{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    /* margin: 0 24px; */
  }
  .headed{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin:  auto;
    text-align: center;
  }
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    position: absolute;
    top: 75px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
    z-index: 1;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
  .button{
    display: none;
  }
  .navigation{
    padding: 1rem ;
  }
  select{
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    padding: 1.5rem 0;

  }
  .container,.about,.reason,.power,.contact,.footer,.tabs{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: 48px auto;
  }
  .container{gap: 24px;}
  .tagline{
    width: auto;
    font-size: 32px;
  }
  .compare{
    width: 80%;
    font-size: 32px;
  }
  .card{width: 342px;}
  .fea{width: auto;}
  .about{padding: auto 24px;}
  .about-desc{width: auto; }
  .tooltip .tooltiptext{
    width: inherit;
  }
  .data p{font-size: 20px;}
  .imagee{ width: 80%}
  .power-image{
    width: 85%;
  }
  .footer{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 10px;
    padding: 24px 24px 0px 24px ;
    margin-bottom: 0px;
    text-align: left;
  }
  .foot2,.foot3,.foot4{
    text-align: left;
    justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #E2D4F9;

  }.footer  p{
    text-transform: capitalize;
  }
  .foot1,.foot2,.foot3,.foot4{ margin: 0px 0;}
  .foot4{margin-bottom: 20px;}
  .footer-menu ul, .footer-menu2 ul,.footer-menu3 ul, .footer-menu1 div{
    position: relative;
    /* top: 10px; */
    left: 0;
    flex-direction: column;
    width: 100%;
    display: none;
    z-index: 1;
    height: max-content;
  }
  .foot-image{
    display: flex;
  }
  .footer-menu.expanded ul,.footer-menu2.expanded ul,.footer-menu3.expanded ul, .footer-menu1.expanded div{display: block;}
  .feature, .detail{
    /* width: 80%; */
    margin: 16px 0;
    font-size: 12px;
    justify-content: center;
  }
  .fea{width: 170px;}
  .qoruz,.grin{width: 64px;}
  .about-desc{
    width: 80%;
    text-align: center;
  }
  .primary-btn{
   justify-content: center;
   margin: 12px auto;
  }
  .tabs{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .tabspan{
    gap: 20px;
    justify-content: center;
  }
  .tab-desc{
    width: 80%;
    margin: auto;
    display: flex;
  }
 .footer-btn{
    display: flex;
    justify-content: left;
  }
  .data{
    display: flex;
    flex-direction: column;
    margin: auto 24px ;
    align-items: center;
    justify-content: center;
  }
  .data p{
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
  }
  .data button{
    font-size: 20px;
  }
  .faq-section{
    margin: auto;
    width: 90%;
  }
  .power{gap: 24px;}
  .power .tagline{text-align: left;}
  .foot-btn{
    display: flex;
    justify-content: left;
  }
}